:root {
    --mdc-theme-primary: #333;
    --mdc-theme-secondary: green;
}

body {
    display: flex;
    margin: 0;
    font-family: 'Roboto';
}

p {
    font-size: 0.9em;
}

main {
    padding: 64px;
}

aside {
    width: calc(100vw - 628px);
}

article {
    padding: 32px;
    height: calc(100vh - 128px);
}

a,
a:visited {
    color: var(--mdc-theme-secondary)
}

#canvas {
    background: #333;
}

#scoreboard {
    display: flex;
    width: 500px;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #333;
}

#scoreboard .score {
    text-align: center;
}

.mdc-top-app-bar {
    position: relative;
}